/* Font Sizes */


body {
  font-size: 16px;
  line-height: 150%;
}

h1 {
  font-size: 2.8em; /* 32px */
  line-height: 300%;
  font-family: 'DM Serif Display', Times, serif;
}

h3 {
  font-size: 1.4em; /* 20.8px */
  line-height: 150%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}

p {
  font-size: 100%; /* 16px */
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* nav + links */

nav {
  background-color: #3E2AEE;
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a:link { color:#AAA0F8; } /* unvisited */
a:visited { color:#D7D3FD; } /* visited */
a:hover { color:#ffffff; } /* mouse over */
a:active { color:#D7D3FD; } /* selected */

.author {
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* images */

figcaption {
  font-size: 80%;
  color: #636363;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

/* body text */
body {
  background-color: #ffffff;
  color: #000000;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

p + p {
  margin-top: 30px;
}
